<!DOCTYPE html>
<html lang="en">
<head>
    <title>Уведомление о завершении поставки №0000001 от (Дата заключения договора)</title>
    <style>
        body {
          font-family: Arial, sans-serif;
          margin: 0 auto;
          width: 80%;
        }
        .header {
          text-align: center;
        }
        .company-details {
          text-align: left;
          margin-top: 20px;
        }
        .contract-text {
          margin-top: 30px;
          text-align: justify;
        }
        .footer {
          text-align: left;
          margin-top: 30px;
        }
    </style>
</head>
<body>
<div class="header">
    <h1>Уведомление о завершении поставки №0000001 от (Дата заключения договора)</h1>
</div>

<div class="contract-text">
    <p> Дата формирования уведомления : (Дата) </p>
    <p>1. Уведомление о завершении поставки №000001 от (Дата заключения договора) между заказчиком ООО "АнМеталл" и поставщиком ПАО "Флексеры".</p>
    <p>Стороны согласовали, что общая сумма сделки составляет (Сумма) рублей. Договор полностью оплачен и поставка произведена.</p>

    <div class="company-details">
        <p>Договор поставки между:</p>
        <p><strong>Заказчик</strong> ООО "АнМеталл"</p>
        <p><strong>Юридический адрес поставщика:</strong> (Юридический адрес)</p>
        <p><strong>ИНН поставщика:</strong> (ИНН поставщика)</p>
        <p><strong>Поставщик:</strong> ПАО "Флексеры"</p>
        <p><strong>Юридический адрес заказчика:</strong> (Юридический адрес подставщика)</p>
        <p><strong>ИНН заказчика:</strong> (ИНН поставщика)</p>
    </div>

    <p>2. Поставщик обязуется доставить (Предмет договора) в соответствии с условиями, согласованными Сторонами, а Заказчик обязуется принять и оплатить товары/услуги в установленные сроки и порядке.</p>
    <p>Согласно правилам использования мобильного приложения АнМеталл, заказчик - ООО "АнМеталл" обязуется оплатить коммиссию в размере 1% от суммы общий сделки.</p>

    <p>3. Мобильное приложение "АнМеталл" взимает комиссию в размере 1% от общей суммы сделки, оплата коммисии будет произведена отдельно внутри мобильного приложения "АнМеталл".</p>
    <p>Заказчик используя мобильное приложение "АнМеталл" соглашается с тем, что взимается комиссию в размере 1% от общей суммы сделки.</p>
</div>

<div class="footer">
    <p><strong>Контактные данные ООО "АнМеталл" (владелец мобильного приложения):</strong></p>
    <p><strong>Юридический номер:</strong> (Юридический номер)</p>
    <p><strong>ИНН:</strong> (ИНН Поставщика)</p>
</div>
</body>
</html>
